<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Speer Backend Assessment Task 2</title>
    <script type="text/javascript">

      function getQuote(id) {
        var symbol = document.getElementById(id+"symbol").value;
        document.getElementById("stockquote").innerHTML = "";

        if (symbol == "") {
          document.getElementById(id+"price").value = "";
          document.getElementById(id+"price").readOnly = false;
        }

        fetch('https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol='+symbol+'&apikey=<%= apiKey %>')
          .then(response => response.json())
          .then(json => json["Global Quote"])
          .then(quote => {
            if (Object.keys(quote).length > 0) {
              var price = quote["05. price"];

              var content = "<strong>Symbol: </strong>"+symbol+"<br>"
              +"<strong>Open Price:</strong> "+quote["02. open"]+"<br>"
              +"<strong>High Price:</strong> "+quote["03. high"]+"<br>"
              +"<strong>Low Price:</strong> "+quote["04. low"]+"<br>"
              +"<strong>Price:</strong> "+price+"<br>"
              +"<strong>Volume:</strong> "+quote["06. volume"]+"<br>"
              +"<strong>Latest Trading Day:</strong> "+quote["07. latest trading day"]+"<br>"
              +"<strong>Previous close:</strong> "+quote["08. previous close"]+"<br>"
              +"<strong>Change:</strong> "+quote["09. change"]+"<br>"
              +"<strong>Change Percent:</strong> "+quote["10. change percent"]+"<br>";

              var stockquote = document.getElementById("stockquote");
              var priceDoc = document.getElementById(id+"price");

              if (stockquote.innerHTML == "") stockquote.innerHTML = content;
              priceDoc.value = price;
              priceDoc.readOnly = true;
            }

            else {
              document.getElementById("stockquote").innerHTML = "<p style='color: red'>Can't find symbol!</p>";
              document.getElementById(id+"price").value = "";
              document.getElementById(id+"price").readOnly = false;
            }
          });
      }
    </script>
  </head>
  <body>

    <!-- User dashboard -->
    <% if (isLoggedIn) {
        if (errorOccured) { %>
        <p style="color: red"><%= errorMessage %></p>
      <% } %>
      <h1><a href="/profile" ><%= name %></a></h1>

      <!-- Add Balance Form -->
      <form class="" action="/addbalance" method="post">
        <p>
          <strong>Balance:</strong> $<%= balance %>
          <input type="number" step="0.01" name="newbalance" required/>
          <input type="submit" name="" value="Add Balance"/>
        </p>
      </form>

      <!-- The buy stock and sell stock features both have the ability to get stock quote
           and live rates while user is buying or selling a stock -->

      <!-- Buy Stocks Form -->
      <form class="" action="/buystock" method="post">
        <p>
          <strong>Symbol: </strong>
          <input id="buysymbol" type="text" onchange="getQuote('buy')" name="symbol" required>
          <strong># of shares: </strong>
          <input type="number" name="shares" required>
          <strong>Stock Price: $</strong>
          <input id="buyprice" type="number" step="0.01" name="price" required>
          <input type="submit" name="" value="Buy Stock">
        </p>
      </form>

      <!-- Sell Stocks Form -->
      <form class="" action="/sellstock" method="post">
        <p>
          <strong>Symbol: </strong>
          <input id="sellsymbol" type="text" onchange="getQuote('sell')" name="symbol" required>
          <strong># of shares: </strong>
          <input type="number" name="shares" required>
          <strong>Stock Price: $</strong>
          <input id="sellprice" type="number" step="0.01" name="price" required>
          <input type="submit" name="" value="Sell Stock">
        </p>
      </form>

      <!-- Get Stock Quote Endpoint -->
      <strong>Stock Quote: </strong><br>
      <div id="stockquote"></div>

      <!-- Logout Form -->
      <form class="" action="/logout" method="post">
        <input type="submit" name="" value="Log out" />
      </form>

    <!-- Login section -->
    <% } else {
          if (errorOccured) {%>
            <p style="color: red;"><%= errorMessage %></p>
          <% } %>
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="enter username" required>
        <input type="password" name="password" value=""placeholder="enter password" required>
        <input type="submit" name="" value="Log in">
      </form>
    <% } %>

  </body>
</html>
