<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EJS - Speer Backend Assessment Task 2</title>
    <script type="text/javascript">
      var isLoggedIn = <%= isLoggedIn %>;
      var errorOccured = <%= errorOccured %>;
      var name = "<%= name %>";
      var dir = "<%= dir %>";
      var balance = <%= balance %>;
    </script>
  </head>
  <body>
    <% if (isLoggedIn) { %>
      <h1><a href="#"><%= name %></a></h1>
      <p><strong>Balance:</strong> $<%= balance %></p>
      <form class="" action="/logout" method="post">
        <input type="submit" name="" value="Log out" />
      </form>
    <% } else {
          if (errorOccured) {%>
            <p style="color: red;">Invalid user! Please try again.</p>
          <% } %>
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="enter username">
        <input type="password" name="password" value=""placeholder="enter password">
        <input type="submit" name="" value="Log in">
      </form>
    <% } %>
  </body>
</html>
